[user]
	name = davmacario
	email = dav.macario@gmail.com
[credential "https://github.com"]
    helper = !/usr/bin/gh auth git-credential
[core]
	compression = 0
	excludesfile = /Users/dmacario/.gitignore
	editor = nvim
[http]
	postBuffer = 1048576000
[init]
	defaultBranch = main
